{{ if .topper }}
  {{ if eq .topper.topper_type "article" }}
    {{ partial "bookshop" (slice "design-system/topper/article" .) }}  
  {{ else if eq .topper.topper_type "article-hero" }}
    {{ partial "bookshop" (slice "design-system/topper/article-hero" .) }}
  {{ else if eq .topper.topper_type "hero" }}
    {{ partial "bookshop" (slice "design-system/topper/hero" .) }}
  {{ else if eq .topper.topper_type "hero-big-search" }}
    {{ partial "bookshop" (slice "design-system/topper/hero-big-search" .) }}
  {{ else if eq .topper.topper_type "hero-w-icons" }}
    {{ partial "bookshop" (slice "design-system/topper/hero-w-icons" .) }}
  {{ else if eq .topper.topper_type "student-profile" }}
    {{ partial "bookshop" (slice "design-system/topper/student-profile" .) }}
  {{ else }}
    {{ partial "bookshop" (slice "design-system/topper/default" .) }}
  {{ end }}
{{ end }}